body {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    text-align: center;
}

.info-container h1 {
    margin-top: 0;
}